@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}

body {
  height: 180vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.welcome {
  width: fit-content;
  font-family: var(--Rubik);
  font-size: 50px;
  border: solid 1px black;
  background: var(--bggradient);
  align-items: center;
}

header {
  font-family: "Rubik", sans-serif;
  text-align: center;
  margin-top: 100px;
}

header h1 {
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 30px;
  margin: 150px;
}

header p {
  font-size: 20px;
  letter-spacing: 10px;
  margin: 100px;
  font-family: var(--Patua);
}

.scroll {
  display: block;
  font-size: 15px;
  font-family: var(--Lobster);
  margin: 150px;
  -webkit-font-smoothing: antialiased;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-20px);
  }
  60% {
    -o-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.arrow {
  font-size: 30px;
  line-height: 60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.container-fluid {
  align-self: center;
}

.card {
  display: inline-block;
  transition: transform 250ms;
}

.card:hover,
.card:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-0.25em);
}
